@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="banner">
    <div class="banner-text">Juleteen er på gaden, køb den <a href="Product/GetAllProducts" style="color:black;">her</a></div>

</div>

<div class="col-10">
    <div class="container">
        <div class="row">

            <div class="col-sm-1 col-lg-4 mb-3">
                <div class="card" display="inline-block" style="width: 18rem;">
                    <a asp-page="GetProduct" asp-route-id="product.ID"><img src="/img/placeholder.jpg" class="card-img-top" alt="Billede af te"></a>
                    <div class="card-body">
                        <h5 class="card-title">product.Name</h5>
                        <p class="card-text">product.Description</p>
                        <a class="btn btn-primary" type="button" title="Se mere" asp-page="GetProduct" asp-route-id="product.ID">Se mere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-lg-4 mb-3">
                <div class="card" display="inline-block" style="width: 18rem;">
                    <a asp-page="GetProduct" asp-route-id="product.ID"><img src="/img/placeholder.jpg" class="card-img-top" alt="Billede af te"></a>
                    <div class="card-body">
                        <h5 class="card-title">product.Name</h5>
                        <p class="card-text">product.Description</p>
                        <a class="btn btn-primary" type="button" title="Se mere" asp-page="GetProduct" asp-route-id="product.ID">Se mere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-lg-4 mb-3">
                <div class="card" display="inline-block" style="width: 18rem;">
                    <a asp-page="GetProduct" asp-route-id="product.ID"><img src="/img/placeholder.jpg" class="card-img-top" alt="Billede af te"></a>
                    <div class="card-body">
                        <h5 class="card-title">product.Name</h5>
                        <p class="card-text">product.Description</p>
                        <a class="btn btn-primary" type="button" title="Se mere" asp-page="GetProduct" asp-route-id="product.ID">Se mere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



