@page
@model ProjectWebsite.Pages.NotFoundModel
@{
}

<div>
    <h2>Oops! Tingene du eftersøgte blev ikke fundet</h2>
    <p>
        Det ser ud til, at det indhold, du leder efter, ikke er tilgængeligt. Tjek venligst URL'en eller brug navigationslinkene nedenfor.
    </p>

    <nav>
        <ul>
            <li><a asp-page="Index">Hjem</a></li>
            @* <li><a asp-page="/Contact">Contact</a></li> *@ 
        </ul>
    </nav>
</div>
