@page
@model ProjectWebsite.Pages.NotFoundModel
@{
}

<div>
    <h1>404 - Ikke fundet</h1>
    <h2>Oops! Tingene du eftersøgte blev ikke fundet</h2>
    <p>
        Det ser ud til, at det indhold, du leder efter, ikke er tilgængeligt. Tjek venligst URL'en eller brug navigationslinkene nedenfor.
    </p>
    <a asp-page="Index">Hjem</a>
</div>
