@page "{id:int}"
@model ProjectWebsite.Pages.Product.GetProductModel
@{
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <form method="post">
                <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                    <label class="form-check-label" for="inlineRadio1">100 g</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled>
                    <label class="form-check-label" for="inlineRadio2">150 g</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled>
                    <label class="form-check-label" for="inlineRadio2">200 g</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                    <label class="form-check-label" for="inlineRadio3">300 g</label>
                </div>
                <div class="fs-5 mb-5 pt-3">
                    <span>@Model.Product.Price Kr</span>
                </div>
                <p class="lead">@Model.Product.Description</p>
                <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" asp-for="@Model.amountIN" type="num" value="1" style="max-width: 3rem" />
                   
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit" >
                            <i class="bi-cart-fill me-1"></i>
                            Tilføj til kurv
                        </button>
                    
                    
                </div>
                </form>
            </div>
        </div>
    </div>
</section>