html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top:60px;
    margin-bottom: 60px;
}

.br {
    display: block;
    margin-bottom: 0em;
}

.brmedium {
    display: block;
    margin-bottom: 1em;
}

.brlarge {
    display: block;
    margin-bottom: 3em;
}
.brxlarge {
    display: block;
    margin-bottom: 7em;
}
.brsmall {
    display: block;
    margin-bottom: -0.4em;
}

.brxsmall {
    display: block;
    margin-bottom: -2em;
} 

footer{
    margin-bottom:0;
    padding-bottom:0;
}

.banner {
    background-color:#00873E;
    width: 100%;
    padding: 10px 7px 10px 4px;
}
.banner-text {
    text-align: center;
    color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn {
    color: #F4F2EF; /*off white*/
}

.btn-primary {
    background-color: #273248; /*pickled bluewood*/
}

body {
    background-color: #F4F2EF; /*off white*/
}

.alert-secondary {
    background-color: #D8D1BD; /*grey*/
}

tr>th {
    color: #FFFFFF; /*grey*/
}