@page
@model ProjectWebsite.Pages.About.AboutModel
@{
}

<h1 class="pb-3 pt-5 text-center">Om Blues Brews</h1>

<div class="row">
    <div class="col-3">
        <div class="card card-body">
            <p class="card-subtitle mb-3">
            <p>
                <b>Åbeningstider</b>
                <br>Man-Tors 9-18
                <br>Fre 9-17:30
                <br>Lør 9-14
                <br>Søn Lukket
                <br>
                <br><b>Adresse</b>
                <br>Adresse 14
                <br>1234 by
                <br>
                <br><b>Kontakt</b>
                <br>Tlf +45 12 345 678
                <br>Email BluesBrews@gmail.com
            </p>
        </div>
    </div>
    <div class="col-9">
        <h2>Om os</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vitae nisi vel scelerisque. Fusce sit amet erat sit amet magna lacinia posuere. Integer feugiat odio luctus lacus mattis pharetra. Phasellus posuere augue odio, ut iaculis arcu dignissim vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate a eros sit amet laoreet. Cras tristique elit elit. Maecenas ipsum urna, lacinia ut tortor mollis, molestie semper sapien. Nunc suscipit sem sed nunc viverra vestibulum. Morbi vel laoreet nisl, quis pharetra nisi. Fusce porttitor convallis tempus. Suspendisse vehicula sem odio, eu dictum massa egestas ac. Suspendisse ornare tortor a vulputate sodales.

            Ut eleifend pharetra massa in commodo. Nam maximus, augue in placerat gravida, lacus mi sagittis neque, eu gravida augue risus ac justo. Nullam vel facilisis magna. Donec a ante vehicula, tincidunt orci id, venenatis massa. Suspendisse sed purus sed sem vehicula tincidunt vel vel lorem. Nam ac lorem eu mi facilisis rutrum eget quis felis. Vestibulum nec pretium tellus. Mauris arcu nibh, imperdiet a odio quis, consequat sollicitudin dui. Proin porta scelerisque urna, tristique pretium enim mollis quis. Integer eu libero vitae justo efficitur vulputate et non erat. Quisque facilisis, tortor ut egestas placerat, lacus nunc egestas sapien, at imperdiet augue ligula ut elit.

            Etiam efficitur viverra erat eu vestibulum. In porta tempor massa, a placerat purus efficitur ut. Donec sit amet risus mattis, pulvinar augue vel, varius mauris. Phasellus magna orci, vulputate at nisl vel, tincidunt viverra est. Vestibulum in pulvinar nisi. Nam ultricies dolor vitae dictum sollicitudin. Suspendisse non nisi quis tortor elementum rutrum eu et eros. Vivamus et odio vel nunc hendrerit ultricies. Nam nec porta tellus.
        </p>
    </div>
</div>