@page
@model ProjectWebsite.Pages.About.FAQModel
@{
}

<h1 class="pb-5 pt-5 text-center">FAQ</h1>

<ul class="list-group pb-5">
    <li class="list-group-item pt-4">
        <b>Hvor får i jeres te fra?</b> <br/><br/>
        <p>
            Phasellus mi mauris, semper ultrices posuere facilisis, tristique at ligula.
            Cras suscipit metus at dictum aliquam. Aliquam vehicula nisi ac elit aliquet convallis.
            Morbi in tortor ut est mattis molestie a vel lectus.
            In eu pharetra ante. Aliquam aliquam nunc ut euismod egestas.
            Phasellus auctor leo a mauris sagittis suscipit.
            Vivamus convallis fringilla arcu, in blandit nulla vehicula a.
            Sed eget volutpat metus. 
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Morbi sed tristique nunc, sed gravida tellus.
        </p>
    </li>
    <li class="list-group-item pt-4">
        <b>Bruger i genbrugelig emballage?</b></b> <br /><br />
        <p>
            Phasellus mi mauris, semper ultrices posuere facilisis, tristique at ligula.
            Cras suscipit metus at dictum aliquam. Aliquam vehicula nisi ac elit aliquet convallis.
            Morbi in tortor ut est mattis molestie a vel lectus.
            In eu pharetra ante. Aliquam aliquam nunc ut euismod egestas.
            Phasellus auctor leo a mauris sagittis suscipit.
            Vivamus convallis fringilla arcu, in blandit nulla vehicula a.
      
        </p>
    </li>
    <li class="list-group-item pt-4">
        <b>Hvordan opretter jeg en konto?</b></b> <br /><br />
        <p>
            Phasellus mi mauris, semper ultrices posuere facilisis, tristique at ligula.
            Cras suscipit metus at dictum aliquam. Aliquam vehicula nisi ac elit aliquet convallis.
            Morbi in tortor ut est mattis molestie a vel lectus.
            In eu pharetra ante. Aliquam aliquam nunc ut euismod egestas.
            Phasellus auctor leo a mauris sagittis suscipit.
            Vivamus convallis fringilla arcu, in blandit nulla vehicula a.
            Sed eget volutpat metus.
          
        </p>
    </li>
    <li class="list-group-item pt-4">
        <b>Hvordan kontakter jeg kundeservice?</b></b> <br /><br />
        <p>
            Phasellus mi mauris, semper ultrices posuere facilisis, tristique at ligula.
            Cras suscipit metus at dictum aliquam. Aliquam vehicula nisi ac elit aliquet convallis.
            Morbi in tortor ut est mattis molestie a vel lectus.
            In eu pharetra ante. Aliquam aliquam nunc ut euismod egestas.
            Phasellus auctor leo a mauris sagittis suscipit.
            Vivamus convallis fringilla arcu, in blandit nulla vehicula a.
           
        </p>
    </li>
    <li class="list-group-item pt-4">
        <b>Hvordan er jeres leveringstid?</b></b> <br /><br />
        <p>
            Phasellus mi mauris, semper ultrices posuere facilisis, tristique at ligula.
            Cras suscipit metus at dictum aliquam. Aliquam vehicula nisi ac elit aliquet convallis.
            Morbi in tortor ut est mattis molestie a vel lectus.
            In eu pharetra ante. Aliquam aliquam nunc ut euismod egestas.
            Phasellus auctor leo a mauris sagittis suscipit.
          
        </p>
    </li>
</ul>
