@page
@model ProjectWebsite.Pages.Basket.CheckCustomerModel
@{
}
<p>check email</p>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
          
        <input type="submit" asp-page-handler="Confirm" value="Godkend" class="btn btn-success" />
        @* <input type="submit" value="Cancel" asp-page-handler="Cancel" class="btn btn-primary" /> *@
    </div>
</form>