@page
@model ProjectWebsite.Pages.Basket.SuccessModel
@{
    ViewData["Title"] = "Ordre færdiggjort";
}

<div class="container">
    <h1 class="text-success text-uppercase font-weight-bold">Success</h1>
</div>