<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blue's Brews @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectWebsite.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/regular.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.min.css" />
</head>

<body style="min-height:100vh;display:flex;flex-direction:column;">
    <header >
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="/img/placeholder.jpg" height="20" />
                <a class="navbar-brand" asp-area="" asp-page="/Index">Blue's Brews</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/index">Forside</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Product/GetAllProducts">Produkter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events/GetAllEvents">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About/About">Om</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Customer/GetAllCustomers"><i class="fa fa-user fa-lg"></i></a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Basket/Basket"><i class="fas fa-bag-shopping fa-lg"></i></a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/GetAllOrders">Admin</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position:relative; margin-top:auto;background-color: #FFFFFF;margin-bottom:-100px;">
        <div class="grid-container" style="display: grid;grid-template-columns: auto auto auto; margin-left:20px;">
            <div class="grid-item">
                <span class="brxlarge"></span>
                Brug for hjælp? <a asp-area="" asp-page="/About/FAQ">FAQ</a>
            </div>
            <div class="grid-item">
                Adresse Adresse 14
                <span class="brxsmall"></span>
                1234 by
                <span class="brxsmall"></span>
                +45 12 345 678
                <span class="brsmall"></span>
                &copy; 2023 - Blues Brews

            </div>
            <div class="grid-item">
                Åbningstider:
                <span class="brxsmall"></span>
                Man-Tors 9-18
                <span class="brxsmall"></span>
                Fre 9-17:30
                <span class="brxsmall"></span>
                Lør 9-14
                <span class="brxsmall"></span>
                Søn Lukket
                <span class="brsmall"></span>
            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>